# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# Next.js
.next/
out/
*.log
.env.local
.env.development.local
.env.test.local
.env.production.local

# Storybook
storybook-static/

# TypeScript
*.tsbuildinfo

# Testing
coverage/
.vscode/
__tests__/
jest-cache/
jest.config.js
jest.config.ts
test-results/

# IDE/Editor
*.swp
.idea/
.DS_Store
*.sublime-project
*.sublime-workspace
*.vscode/

# Misc
*.log
*.bak
*.pid
*.seed
*.log.*
*.tgz

# MacOS
Thumbs.db
*.DS_Store
